@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');



body {
   background: whitesmoke;
   font-family: 'Open Sans', sans-serif;
}

.container {
   display: grid;
   grid-gap: 1em; 
}

header {
   background: url(../images/consumer-electronics-3.jpg)
   no-repeat center center;
   background-size: cover;
   height: 400px;
   
}

img {
   width: 70%;
   height: 35%;
   align-content: center;
}


 h1 {
   font-family: 'Lato', sans-serif;
   font-size: 80px;
   text-align: center;
   color: whitesmoke;
   align-content: center;
   }
  
   h2 {
 
   }

   p {

   }

   .row_1 {
      display: flex;
      grid-gap: 1em; 
   border: 1pt solid blue
   }

   .row_2 {
      display: flex;
      grid-gap: 1em;
   border: 1pt solid salmon  
      }

      .row_3 {
         display: flex;
         grid-gap: 1em; 
         border: 1pt solid orange
         }


.modal {
   background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
   overflow: auto;
   display: none;
   margin: 0 auto;
}

.modalTextBox {
   background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
}

.modal.open {
   display: block;
}
